{% load i18n %}

<div id="password-recover-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
    <i class="fa fa-retweet dialog-icon"></i>
    <h3>{% trans "Password Recovery" %}</h3>
    <h5>{% trans "Fortgot your password? Don't worry we can deal with it" %}</h5>
    <form class="dialog-form">
        <label>{% trans "E-mail" %}</label>
        <input type="text" placeholder="email@domain.com" class="span12">
        <input type="submit" value="{% trans "Request new password" %}" class="btn btn-primary">
    </form>
</div>